<div class="container mt-5">
    <%= form_with(model: diary, local: true) do |f|%>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mb-5">
                    <%= f.label :title, "タイトル"%>
                    <%= f.text_field :title, class: "form-control"%>
                </div>
                <div class="form-group">
                    <%= f.label :content, "内容"%>
                    <%= f.text_area :content, class: "form-control", rows: "10"%>
                </div>
            </div>
            <div class="col-sm-6 text-right align-self-end">
                <%= f.submit "作成する", class: "btn btn-outline-primary" %>
            </div>
        </div>
    <% end %>
</div>